groundingdino-py
git+https://github.com/facebookresearch/sam2.git@2b90b9f5ceec907a1c18123530e92e794ad901a4
huggingface-hub
opencv-python-headless
numpy
Pillow
transformers
fastapi
uvicorn[standard]
python-multipart